img {
  height: 30px;
  width: 30px;
  margin: auto;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.bg {
  color:darkslategrey;
}

.table-wrap:before {
  position: absolute;
  background:url("https://res.cloudinary.com/cryptoworld/image/upload/v1612094648/blockchain_vochhk.jpg");
  filter:blur(400px);
  -o-filter:blur(4px);
  -ms-filter:blur(4px);
  -moz-filter:blur(4px);
  -webkit-filter: blur(12px);
  content: '';
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.table-wrap {
  position: relative;
}

table.table {
  position: relative;
  z-index: 2;
}
