<nav class="navbar navbar-expand-md bg-custom navbar-custom flex-row navbar-dark sticky-top">
  <div class="container">
    <a class="navbar-brand" href="/home">
      <img src="https://res.cloudinary.com/cryptoworld/image/upload/v1611605764/logo_ffml8d.png">
    </a>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a href="/home" class="nav-link" routerLink="home">Home</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a href="/cryptocurrency" class="nav-link" routerLink="cryptocurrency">Cryptocurrency</a>
        </li>
      </ul>
      <ul class="navbar-nav" *ngIf="isLoggedIn">
        <li class="nav-item active">
          <a href="/myCryptocurrencies" class="nav-link" routerLink="myCryptocurrency">My Cryptocurrencies</a>
        </li>
      </ul>
      <ul class="navbar-nav" *ngIf="isLoggedIn">
        <li class="nav-item active">
          <a href="/notifications" class="nav-link" routerLink="notifications">Notifications</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item-active">
          <a href="/registration" class="nav-link" routerLink="registration">Sign Up</a>
        </li>
        <li class="nav-item-active">
          <a href="/login" class="nav-link" routerLink="login">Login</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <fa-icon class="icon" [icon]="userIcon"></fa-icon>
        </li>
        <li class="nav-item-active">
          <a href="/profile" class="nav-link" routerLink="profile"> Hi {{ username }} !</a>
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">LogOut</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
