.card {
  background: none;
}

.positive {
  color: #78BC61;
}

.negative {
  color: #6B0F1A;
}

.cardSize {
  min-width: 50%;
}

.imgSize {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

.buttonStyle {
  position: center;
  width: 30%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.info1{
  margin-top: 10px;
  margin-bottom: 20px;
}
