<div class="row cryptocurrencies">
    <div class="col-md-4 basic">
        <img class="img image" src={{cryptocurrency.cryptocurrencyDetails.logoUrl}}>
        <h1>{{cryptocurrency.name}}</h1>
        <h3>{{cryptocurrency.symbol}}</h3>

        <button class="button button1" (click)="addCryptocurrencytoUserFavourite()">Add to Favourite!</button>
    </div>
    <div class="col-md-4 basic " >
        <h3>actual price</h3><p >${{cryptocurrency.actualPrice|number : '.2-2'}}</p>
        <h3>market cap </h3> <p>${{cryptocurrency.actualPrice|number : '.2-2'}}</p>
        <h3>volumen</h3><p>${{cryptocurrency.volume24h|number : '.2-2'}}</p>
        <h3>1h change</h3><p [ngClass]="{
            'positive' : cryptocurrency.percent_change_1h > 0,
            'negative' : cryptocurrency.percent_change_1h< 0
         }">{{cryptocurrency.percent_change_1h|number : '.2-2'}}%</p>
        <h3>24h change</h3><p [ngClass]="{
            'positive' : cryptocurrency.percent_change_24h > 0,
            'negative' : cryptocurrency.percent_change_24h< 0
         }">{{cryptocurrency.percent_change_24h|number : '.2-2'}}%</p>
        <h3>7d change </h3><p [ngClass]="{
            'positive' : cryptocurrency.percent_change_7d > 0,
            'negative' : cryptocurrency.percent_change_7d< 0
         }">{{cryptocurrency.percent_change_7d|number : '.2-2'}}%</p>
    </div>
    <div class="col-md-4 basic">
        <h3>What is {{cryptocurrency.name}}?</h3>
        <p>{{cryptocurrency.cryptocurrencyDetails.description}}</p>

        <h3>Website</h3>
        <p>{{cryptocurrency.cryptocurrencyDetails.websiteUrl}}</p>

        <h3>Twitter</h3>
        <p>{{cryptocurrency.cryptocurrencyDetails.twitterUrl}}</p>

        <h3>Forum</h3>
        <p>{{cryptocurrency.cryptocurrencyDetails.forumUrl}}</p>

        <h3>Reddit</h3>
        <p>{{cryptocurrency.cryptocurrencyDetails.redditUrl}}</p>

        <h3>Technical Documentation</h3>
        <p>{{cryptocurrency.cryptocurrencyDetails.technicalDocumentationUrl}}</p>

        <h3>Source Code</h3>
        <p>{{cryptocurrency.cryptocurrencyDetails.sourceCodeUrl}}</p>

        <h3>Creation Date</h3>
        <p>{{cryptocurrency.cryptocurrencyDetails.dateOfCreation}}</p>

    </div>
  </div>