<div class="container">
  <div class="row">
    <div class="col table-wrap standard-column">
      <div class="basic">
        <h2>Users ({{users.length}})</h2>
        <table class="table table-style">
          <thead>
          <tr style="color:white">
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scopt="col">Roles</th>
            <th scopt="col">Number of favourite Cryptocurrencies</th>
          </tr>
          </thead>
          <tbody>
          <tr
            *ngFor="let user of users"
            style="color:white">
            <th scope="col">{{user.username}}</th>
            <th scope="col">{{user.email}}</th>
            <th scope="col"><a  placement="bottom" ngbTooltip="1 - USER,2 - ADMIN">{{user.roles.length}}</a></th>
            <th scope="col">{{user.userCryptocurrency.length}}</th>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col table-wrap standard-column">
      <div class="basic">
        <h2>Cryptocurrencies ({{cryptocurrencies.length}})</h2>
        <table class="table table-style">
          <thead>
          <tr style="color:white">
            <th scope="col">Cryptocurrency</th>
            <th scope="col">Price</th>
            <th scope="col">Details</th>
            <th scope="col">Delete</th>
          </tr>
          </thead>
          <tbody>
          <tr
            *ngFor="let cryptocurrency of cryptocurrencies"
            style="color:white">
            <th scope="col">{{cryptocurrency.name}}</th>
            <th scope="col">{{cryptocurrency.actualPrice}}</th>
            <th scope="col">{{checkCryptocurrencyDetails(cryptocurrency)}}</th>
            <th scope="col">
              <button class="btn btn-danger btn-circle btn-sm" (click)="removeCryptocurrency(cryptocurrency.name)"
                      placement="bottom" ngbTooltip="Delete Cryptocurrency">
                <fa-icon [icon]="deleteIcon"></fa-icon>
              </button>
            </th>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col table-wrap standard-column">
      <div class="basic">
        <h2>Cryptocurrency Details ({{cryptocurrencyDetailsList.length}})</h2>
        <table class="table table-style">
          <thead>
          <tr style="color:white">
            <th scope="col">Cryptocurrency</th>
            <th scope="col">Description</th>
            <th scope="col">Logo Url</th>
            <th scope="col">Website URl</th>
            <th scope="col">Twitter URL</th>
            <th scope="col">Forum URl</th>
            <th scope="col">Reddit URl</th>
            <th scope="col">Technical Documentation URl</th>
            <th scope="col">Source Code URl</th>
            <th scope="col">Date Of Creation</th>
            <th scope="col">Delete</th>
          </tr>
          </thead>
          <tbody>
          <tr
            *ngFor="let cryptocurrencyDetails of cryptocurrencyDetailsList"
            style="color:white">
            <th scope="col">{{cryptocurrencyDetails.name}}</th>
            <th scope="col">{{cryptocurrencyDetails.description ? 'Available' : 'Not Available'}}</th>
            <th scope="col">{{cryptocurrencyDetails.logoUrl ? 'Available' : 'Not Available'}}</th>
            <th scope="col">{{cryptocurrencyDetails.websiteUrl ? 'Available' : 'Not Available'}}</th>
            <th scope="col">{{cryptocurrencyDetails.twitterUrl ? 'Available' : 'Not Available'}}</th>
            <th scope="col">{{cryptocurrencyDetails.forumUrl ? 'Available' : 'Not Available'}}</th>
            <th scope="col">{{cryptocurrencyDetails.redditUrl ? 'Available' : 'Not Available'}}</th>
            <th scope="col">{{cryptocurrencyDetails.technicalDocumentationUrl ? 'Available' : 'Not Available'}}</th>
            <th scope="col">{{cryptocurrencyDetails.sourceCodeUrl ? 'Available' : 'Not Available'}}</th>
            <th scope="col">{{cryptocurrencyDetails.dateOfCreation ? 'Available' : 'Not Available'}}</th>
            <th scope="col">
              <button class="btn btn-danger btn-circle btn-sm"
                      (click)="removeCryptocurrencyDetails(cryptocurrencyDetails.name)"
                      placement="left" ngbTooltip="Delete Details">
                <fa-icon [icon]="deleteIcon"></fa-icon>
              </button>
            </th>
        </table>
      </div>
    </div>
  </div>
</div>
