<div class="container">
  <div class="col">
    <div class="row info1">
      <div class="col basic table-wrap">
        <table class="table table-style">
          <thead>
          <tr>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
          </thead>
          <tbody>
          <tr></tr>
          </tbody>
        </table>
      </div>
      <div class="col basic table-wrap">
        <>
      </div>
    </div>
  </div>
</div>
