.content.row {
  position: relative;
  z-index: 2;
}

div.basic {
  line-height: 18px;
  overflow: hidden;
  color: whitesmoke;
  text-align: center;
  position: center;
  margin: 10px;
  z-index: 2;
}

.positive {
  color: #78BC61;
}

.negative {
  color: #6B0F1A;
}

.button {
  border: none;
  color: black;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.routers {
  margin: 10px
}

.info1 {
  margin-top: 50px;
  margin-bottom: 30px;
}

.info2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.info3 {
  margin-top: 65px;
}

.table-wrap:before {
  position: absolute;
  background:linear-gradient(
    rgba(0,0,0,0.95),
    rgba(0,0,0,0.95)
  );
  filter: blur(400px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  -moz-filter: blur(4px);
  -webkit-filter: blur(12px);
  content: '';
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}


.modal-backdrop{
  z-index: 2;
}

.btn-mv{
  margin-right: 3px;
  margin-left: 3px;
}
