<div class="container">
  <div class="col table-wrap">
    <div class="row info1">
      <div class="col basic">
        <img class="img" src={{cryptocurrency.cryptocurrencyDetails?.logoUrl}}>
        <h1>{{cryptocurrency.name}}</h1>
        <h6>{{cryptocurrency.symbol}}</h6>
        <div class="addButton">
          <h2>What is {{cryptocurrency.name}}?</h2>
          <p>{{cryptocurrency.cryptocurrencyDetails?.description}}</p>
        </div>
        <button type="button" class="btn btn-warning btn-sm"
                (click)="addCryptocurrencytoUserFavourite()">
          <fa-icon [icon]="plusIcon"></fa-icon>
          Add to Favourite!
        </button>
        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#exampleModalCenter">
          <fa-icon [icon]="notificationIcon"></fa-icon>
          Add Notification
        </button>
      </div>
    </div>
    <div class="row info2">
      <div class="col basic">
        <h2>Actual Price</h2>
        <h3>${{ cryptocurrency.actualPrice | number : '.2-2' }}</h3>
      </div>
      <div class="col basic">
        <h2>MarketCap </h2>
        <h3>${{ cryptocurrency.actualPrice|number : '.2-2' }}</h3>
      </div>
      <div class="col basic">
        <h2>Volumen</h2>
        <h3>${{ cryptocurrency.volume24h | number : '.2-2' }}</h3>
      </div>
    </div>
    <div class="row info2">
      <div class="col basic">
        <h2>1h Change</h2>
        <h3 [ngClass]="{
                 'positive' : cryptocurrency.percent_change_1h > 0,
                  'negative' : cryptocurrency.percent_change_1h < 0
              }">{{ cryptocurrency.percent_change_1h | number : '.2-2' }}%</h3>
      </div>
      <div class="col basic">
        <h2>24h Change</h2>
        <h3 [ngClass]="{
                 'positive' : cryptocurrency.percent_change_24h > 0,
                 'negative' : cryptocurrency.percent_change_24h < 0
              }">{{ cryptocurrency.percent_change_24h | number : '.2-2' }}%</h3>
      </div>
      <div class="col basic">
        <h2>7d Change </h2>
        <h3 [ngClass]="{
                 'positive' : cryptocurrency.percent_change_7d > 0,
                 'negative' : cryptocurrency.percent_change_7d < 0
              }">{{ cryptocurrency.percent_change_7d | number : '.2-2' }}%</h3>
      </div>
    </div>
    <div class="row info3">
      <div class="col basic">
        <app-line-chart-component
          [historicalValues]="cryptocurrency.cryptocurrencyHistoricalValue.historicalValues"></app-line-chart-component>
      </div>
    </div>
    <div class="row info3">
      <div class="col routers basic" *ngIf="cryptocurrency.cryptocurrencyDetails.websiteUrl">
        <button type="button" class="btn btn-primary btn-sm" (click)="goToWebsite()">
          <fa-icon [icon]="websiteIcon"></fa-icon>
          Website
        </button>
      </div>
      <div class="col routers basic" *ngIf="cryptocurrency.cryptocurrencyDetails.twitterUrl">
        <button type="button" class="btn btn-primary btn-sm" (click)="goToTwitter()">
          <fa-icon [icon]="twitterIcon"></fa-icon>
          Twitter
        </button>
      </div>
      <div class="col routers basic" *ngIf="cryptocurrency.cryptocurrencyDetails.forumUrl">
        <button type="button" class="btn btn-primary btn-sm" (click)="goToForum()">
          <fa-icon [icon]="redirectIcon"></fa-icon>
          Forum
        </button>
      </div>
      <div class="col routers basic" *ngIf="cryptocurrency.cryptocurrencyDetails.redditUrl">
        <button type="button" class="btn btn-primary btn-sm" (click)="goToReddit()">
          <fa-icon [icon]="redditIcon"></fa-icon>
          Reddit
        </button>
      </div>
      <div class="col routers basic" *ngIf="cryptocurrency.cryptocurrencyDetails.technicalDocumentationUrl">
        <button type="button" class="btn btn-primary btn-sm" (click)="goToDocumentation()">
          <fa-icon [icon]="redirectIcon"></fa-icon>
          Documentation
        </button>
      </div>
      <div class="col routers basic" *ngIf="cryptocurrency.cryptocurrencyDetails.sourceCodeUrl">
        <button type="button" class="btn btn-primary btn-sm" (click)="goToSourceSite()">
          <fa-icon [icon]="githubIcon"></fa-icon>
          Source Code
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col routers basic" *ngIf="cryptocurrency.cryptocurrencyDetails.dateOfCreation">
        <h5>Creation Date</h5>
        <h6>{{cryptocurrency.cryptocurrencyDetails.dateOfCreation}}</h6>
      </div>
    </div>
  </div>
</div>

<body>
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Notification</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5>Send notification when </h5>
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Type</label>
              <select name="notificationType" class="form-control form-control-sm" [(ngModel)]="notificationRequest.notificationType">
                <option [ngValue]="notificationType.OVER" >Price will go over</option>
                <option [ngValue]="notificationType.BELOW" >Price will drop to</option>
              </select>
              <small  class="form-text text-muted">Notification Type</small>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Value</label>
              <input name="notifcationValue" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="notificationRequest.notificationValue">
              <small class="form-text text-muted">Notification Value</small>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="createNotification()">Add</button>
        </div>
      </div>
    </div>
  </div>
</body>
