body  {
  background-color: rgb(251, 207, 40);
  background-image:  url(https://res.cloudinary.com/cryptoworld/image/upload/v1612094648/blockchain_vochhk.jpg);
  background-size: cover;
  background-position: left top;
  background-repeat: repeat;
}
