/* You can add global styles to this file, and also import other style files */


.navbar-custom { 
    background-color: black; 
} 

.navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute !important;
}


body  { background-color: rgb(48, 44, 44); }
