
img {
  height: 30px;
  width: 30px;
  margin: auto;
}

.positive {
  color: #78BC61;
}

.negative {
  color: #6B0F1A;
}

.bg {
  color: darkslategrey;
}

.table-wrap:before {
  position: absolute;
  background:linear-gradient(
    rgba(0,0,0,0.8),
    rgba(0,0,0,0.8)
  );
  filter: blur(400px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  -moz-filter: blur(4px);
  -webkit-filter: blur(12px);
  content: '';
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.table-wrap {
  position: relative;
}

table.table {
  position: relative;
  z-index: 2;
}



