
.img {
  height: 30px;
  width: 30px;
  margin: auto;
}

.positive {
  color: #78BC61;
}

.negative {
  color: #6B0F1A;
}

.bg {
  color: darkslategrey;
}
.search-bar{
  margin-top: 15px;
  margin-bottom: 15px;
}

.table-wrap:before {
  position: absolute;
  background:linear-gradient(
    rgba(0,0,0,0.95),
    rgba(0,0,0,0.95)
  );
  filter: blur(400px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  -moz-filter: blur(4px);
  -webkit-filter: blur(12px);
  content: '';
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

div.basic {
  line-height: 18px;
  overflow: hidden;
  color: whitesmoke;
  text-align: center;
  position: center;
  margin: 10px;
  z-index: 2;
}

.table-style{
  margin-top:15px;
  min-width: 100%;
  text-align: center;
  font-size: 17px;
}



